<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
   <!--<welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list> -->
    
    
    <servlet>
        <servlet-name>Controller</servlet-name>
        <servlet-class>vsashyn.dt.controller.Controller</servlet-class>
    </servlet>
    
    <servlet>
        <servlet-name>Index</servlet-name>
        <jsp-file>/WEB-INF/jsp/index.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>Index</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Index</servlet-name>
        <url-pattern>/index</url-pattern>
    </servlet-mapping>
      
      <servlet>
        <servlet-name>Dashboard</servlet-name>
        <jsp-file>/WEB-INF/jsp/dashboard.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>Dashboard</servlet-name>
        <url-pattern>/dashboard</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>Dashboard_customer</servlet-name>
        <jsp-file>/WEB-INF/jsp/dashboard_customer.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>Dashboard_customer</servlet-name>
        <url-pattern>/dashboard_customer</url-pattern>
    </servlet-mapping>
    
    
    
    <servlet>
        <servlet-name>ErrorPage</servlet-name>
        <jsp-file>/WEB-INF/jsp/error.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>ErrorPage</servlet-name>
        <url-pattern>/error</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>Successfull</servlet-name>
        <jsp-file>/WEB-INF/jsp/successfull.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>Successfull</servlet-name>
        <url-pattern>/successfull</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>Prepare_project</servlet-name>
        <jsp-file>/WEB-INF/jsp/prepare_project.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>Prepare_project</servlet-name>
        <url-pattern>/prepare_project</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>faillogin</servlet-name>
        <jsp-file>/WEB-INF/jsp/faillogin.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>faillogin</servlet-name>
        <url-pattern>/faillogin</url-pattern>
    </servlet-mapping>
          
    <servlet-mapping>
        <servlet-name>Controller</servlet-name>
        <url-pattern>/controller/*</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    
    <description>MySQL</description>
    <resource-ref>
        <description>MySQL DB Connection pool</description>
        <res-ref-name>jdbc/devTeam</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
    </resource-ref>
    
    </web-app>
